.analysis__title {
  font-family: Georgia;
  font-weight: lighter;
  font-size: 2.8em;
  display: flex;
  justify-content: center;
}

.analysis__image {
  display: block;
  position: relative;
  max-width: 90%;
  margin-top: 1em;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.analysis__container {
  position: relative;
}

.movie__info,
.photo__info {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 1.2rem;
  bottom: 1rem;
  text-shadow: 0.25px 0.25px 5px black;
}

.movie__info {
  left: 7%;
}

.photo__info {
  right: 7%;
}

.analysis__summary {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.analysis__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 20%;
  margin-right: 20%;
}

.analysis__button {
  background: none !important;
  border: 2px solid white;
  color: white;
  padding: 0 !important;
  height: 2rem;
  width: 14rem;
  font-family: Georgia;
  font-size: 1.4rem;
  font-weight: lighter;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition: all 0.25s;
}

.analysis__button:hover {
  font-size: 1.5rem;
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
    0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}

.separator {
  margin-top: 4rem;
  margin-bottom: 8rem;
  max-width: 50%;
  color: #f3f3f3;
  opacity: 35%;
}
