body {
  color: white;
  background-color: #1e1c1c;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  opacity: 0.1;
  border: 1px inset white;
  border-radius: 4px;
  background: black;
}
