.compare__title {
  font-family: Georgia;
  font-size: 2.8em;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.compare__buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3ex;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.compare__button {
  background: none !important;
  width: 23.5rem;
  height: 2rem;
  border: 2px solid white;
  color: white;
  padding: 0 !important;
  font-family: Georgia;
  font-size: 1.4rem;
  font-weight: lighter;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition: all 0.25s;
}

.compare__button:hover {
  font-size: 1.5em;
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
    0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}

.compare__image__initial {
  display: block;
  position: relative;
  max-width: 60%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.compare__image {
  display: block;
  position: relative;
  max-width: 60%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.bottom_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.compare__text {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 30px;

  line-height: 95%;

  margin-left: 20%;
  margin-top: 1em;
}

.compare__thumbs {
  display: flex;
  max-width: 60%;
  justify-content: space-between;
  margin-right: 20%;
  margin-left: 20%;
}

.thumb__one {
  max-width: auto;
  max-height: 300px;
}

.thumb__two {
  max-width: auto;
  max-height: 300px;
}

.separator {
  margin-top: 4rem;
  margin-bottom: 8rem;
  max-width: 50%;
  color: #f3f3f3;
  opacity: 35%;
}
