.FooterElements {
  display: flex;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.footer__text {
  color: #d3d3d3;
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer__logo {
  max-width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer__row__left,
.footer__row__right {
  display: flex;
  flex-direction: column;
}

.footer__row__right {
  text-align: right;
}
