.palette__title {
  font-family: Georgia;
  font-size: 2.8rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}

.palette__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.palette__button1,
.palette__button2,
.palette__button3,
.palette__button4,
.palette__button5,
.palette__button6 {
  border: 2px solid white;
  padding-top: 8%;
  height: 13.5vh;
  width: 9.5vw;
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 0.7rem;
  cursor: pointer;

  transition-timing-function: ease-in-out;
  transition: all 0.5s;
}

.palette__button1:hover,
.palette__button2:hover,
.palette__button3:hover,
.palette__button4:hover,
.palette__button5:hover,
.palette__button6:hover {
  color: white;
  font-size: 1.2rem;
}

.palette__button1 {
  color: #968b83;
  background: #968b83;
}

.palette__button2 {
  color: #504c46;
  background: #504c46;
}

.palette__button3 {
  color: #3a3938;
  background: #3a3938;
}

.palette__button4 {
  color: #343b3e;
  background: #343b3e;
}

.palette__button5 {
  color: #1b1918;
  background: #1b1918;
}

.palette__button6 {
  color: #171616;
  background: #171616;
}
